html,
body {
  margin: 0;
  background-color: black;
}

/**,
*:before,
*:after {
  box-sizing:border-box;
}*/

/***************************
 beginning of menu */

body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  
}

.menu {

  margin-top:2%;
  margin-left: 5%;
  position: fixed;
  text-align: center;
  z-index:102;

/*  background-color: black;*/
  
}

.menu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
 
}
.menu ul li {
  background: black;
  float: left;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
  transition: all 0.6s linear;
}
.menu ul li:first-child {
  border-radius: 2px 0 0 2px;
}
.menu ul li:last-child {
  border-radius: 0 2px 2px 0;
}
.menu ul li:hover {
  background: white;
  color: black;
  opacity: .5;
}
.menu ul li a {
  display: block;
  padding: 1em 2em;
  color: inherit;
  text-decoration: none;

}


/***************************
end of menu */



/***************************
 Main text and background BEGIN HERE */


/*@-webkit-keyframes slide {
  0%   { background-position: left; }
  50%   { background-position: right; }
  100% { background-position: left; }
}*/


/*.hero {
  
  background-size: 2000px;*/
  /*background-size: 115%;*/
/*  background-repeat: no-repeat;
  -webkit-animation: slide 105s ease;
  transform: translate3d(0,0,0);
  height: 100vh;
  z-index: 1;
}*/

.hero {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity:.5 ;
}

.background_image {
  position : absolute;
  width: 100%;
  top: 0px;
}


.hero__content {
  z-index: 101;
  position: relative;
  padding-top: 20%;
}


.hero__content h1 {
  font-size: 50px;
  font-weight: 100;
  color: white;
  margin: 0;
}
.hero__content h2 {
  font-size: 25px;
  font-weight: 100;
  line-height:2em;
  color: white;
  margin: 0;
}

.hero__content {
  padding-top: 150px;
  margin-left: 7%;
}

.btn {
  background: none;
  border: 2px solid;
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  margin: 20px 0;
  display: inline-block;
  border-radius: 3px;
  font-size: 20px;
}


/***************************
 MENU LOGOS START (BOXES)*/


.boxes-container {
  position: relative;
  top:200px;
  margin-left: 20%;
  width: 70%;
  height: 400px;
  background-color: none;
  z-index: 500;
}

.About,
.Work,
.Contact {
  position: relative;
  float: left;
/*  padding-left: 2%;*/
  width: 300px;
  height: 100px;
  background-color: none;
  margin: 10px;
  z-index: 501;
  transition: all 0.6s linear;
}


.About img,
.Work img,
.Contact img {
  width: 80%;
  height:80%;
}







